################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Multicinex/bin/Debug/net7.0-windows
/.vs
/Multicinex/obj
